{{#> Error }}
    <div class="internal-server-error-page">
        {{> PageTitle title="500" }}
        {{> PageDescription description="Внутренная ошибка сервера" }}
        {{> Link page="/" text="Назад к чатам" }}
    </div>
{{/ Error }}
