<div class="chat-dialog__message{{#if isOwner}} chat-dialog__message_owner{{/if}}">
    {{#if imgSrc}}
        <img class="chat-dialog__message" src="{{imgSrc}}" alt="Изображение в сообщении.">
    {{/if }}
    {{#if text}}{{text}}{{/if}}
    <div class="chat-dialog__message-time">{{time}}</div>
</div>
