.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;

    :first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .page-title {
            font-size: 40px;
        }

        .page-description {
            font-size: 20px;
        }
    }
}