<div class="textbox{{#if class}} {{ class }}{{/if}}">
    {{#if label}}
        <div class="textbox__label">
            {{ label }}
        </div>
    {{/if}}
    {{{ input }}}
    {{#if validation}}
        <div class="textbox__error">
            {{ validation.error }}
        </div>
    {{/if}}
</div>