@import '../../assets/constants';

.textbox {
    $font-size: 16px;

    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: $font-size;

    .textbox__label {
        font-size: 9px;
        color: $color-gray;
    }

    .textbox__error {
        display: none;
        font-size: 8px;
        color: $color-red;
        margin-top: 5px;
    }

    .input {
        border-bottom: 1px solid $color-blue;
    }

    &.textbox_error_visible {
        .textbox__error {
            display: block;
        }

        .input {
            color: $color-red;

            &::placeholder {
                color: $color-red;
                opacity: 0.7;
            }
        }
    }

    &.textbox_inline {
        gap: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .textbox__label {
            font-weight: 400;
            font-size: $font-size;
            color: $color-black;
            flex-shrink: 0;
        }

        .input {
            text-align: end;
        }
    }
}
