<div class="user-setting-page">
    {{#> DialogHeader}}
        {{> Avatar }}
        {{> PageTitle title="Иван" }}
    {{/ DialogHeader}}
    {{#> DialogMain}}
        {{> Textbox class="textbox_inline" label="Почта" name="email" value="pochta@yandex.ru" disabled=disabled }}
        {{> Textbox class="textbox_inline" label="Логин" name="login" value="ivanivanov" disabled=disabled }}
        {{> Textbox class="textbox_inline" label="Имя" name="first_name" value="Иван" disabled=disabled }}
        {{> Textbox class="textbox_inline" label="Фамилия" name="second_name" value="Иванов" disabled=disabled }}
        {{> Textbox class="textbox_inline" label="Телефон" name="phone" value="+7 (909) 967 30 30" disabled=disabled }}
    {{/ DialogMain}}
    {{#> DialogFooter }}
        {{> Link text="Изменить данные" page="" }}
        {{> Link text="Изменить пароль" page="" }}
        {{> Link class="link_color_red" text="Выйти" page="/login" }}
    {{/ DialogFooter}}
</div>