@import '../../../assets/constants';

.avatar {
    $size: 47px;

    display: flex;
    align-items: center;
    text-align: center;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $color-light-gray;
    object-fit: cover;
    flex-shrink: 0;
}
