.login-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;

    .login-page__main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 180px;
    }

    .login-page__footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
