@import '../../../assets/constants';

.dropdown {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        min-width: 160px;
        overflow: auto;
        right: 0;
        padding: 10px;
        margin: 10px;
        z-index: 1;

        &.dropdown-content_show {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
