.sign-in-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;

    .sign-in__main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 180px;
    }

    .sign-in__footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
