{{#> Error }}
    <div class="not-found-error-page">
        {{> PageTitle title="404" }}
        {{> PageDescription description="Страница не найдена" }}
        {{> Link url="/" text="Назад к чатам"}}
    </div>
{{/ Error }}