{{#> ErrorDialog }}
    <div class="internal-server-error-page">
        {{#> DialogMain }}
            {{> PageTitle title="500" }}
            {{> PageDescription description="Внутренная ошибка сервера" }}
            {{> Link page="/" text="Назад к чатам" }}
        {{/ DialogMain }}
    </div>
{{/ ErrorDialog }}
