{{#> ErrorDialog }}
    <div class="not-found-error-page">

        {{#> DialogMain }}
        {{{ title }}}
        {{{ description }}}
        {{{ homeLink }}}

        {{/ DialogMain }}
    </div>
{{/ ErrorDialog }}
