{{#> ErrorDialog }}
<div class="not-fount-error-page">
    {{#> DialogMain }}
    {{> PageTitle title="404" }}
    {{> PageDescription description="Страница не найдена" }}
    {{> Link page="/" text="Назад к чатам" }}
    {{/ DialogMain }}
</div>
{{/ ErrorDialog }}