$font-family: inter, "Segoe UI", "Roboto", "Helvetica Neue", sans-sans;

$color-blue: #3369F3;
$color-light-blue: #E4EDFD;
$color-gray: #999;
$color-light-gray: #EFEFEF;
$color-black: #1E1E1E;
$color-red: #F00;

$shadow: 0 0 6px #00000014;
