$font-family: Inter, "Segoe UI", "Roboto", "Helvetica Neue", sans-sans;

$color-blue: #3369F3;
$color-light-blue: #E4EDFD;
$color-gray: #999999;
$color-light-gray: #EFEFEF;
$color-black: #1E1E1E;
$color-red: #FF0000;

$shadow: 0px 0px 6px #00000014;

@mixin vertical-scroll {
    @include scroll;
    overflow-y: auto;
}

@mixin horizontal-scroll {
    @include scroll;
    overflow-x: auto;
}

@mixin scroll {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
    }
}
