<div class="user-setting-change-password-page">
    {{#> UserSettingDialog }}
        {{#> DialogMain}}
            {{> UserSettingTextbox label="Старый пароль" name="oldPassword" type="password" }}
            {{> UserSettingTextbox label="Новый пароль" name="newPassword" type="password" }}
            {{> UserSettingTextbox label="Новый пароль еще раз" name="newPassword_equal" type="password" }}
        {{/ DialogMain}}
        {{#> DialogFooter }}
            {{> UserSettingButton text="Сохранить" page="/user-setting" }}
        {{/ DialogFooter}}
    {{/ UserSettingDialog }}
</div>
