<div class="chat-page">
    {{#> ChatList }}
        {{> ChatListAccountLink }}
        {{> ChatListHeader }}
        {{#each (chatPageListDataSource)}}
            {{> ChatListItem }}
        {{/each}}
    {{/ ChatList }}
</div>