{{#chatImages}}
<div class="chat-page">
    {{#> ChatList }}
        {{> ChatListAccountLink }}
        {{> ChatListHeader }}
        <ul>
            {{#each (chatPageListDataSource)}}
                {{> ChatListItem }}
            {{/each}}
        </ul>
    {{/ ChatList }}
    {{#> ChatDialog }}
        {{#> DialogHeader }}
            {{> Avatar alt="Аватар текущего чата." }}
            <div class="chat-user">Вадим</div>
            {{> Button 
                img=additionalButtonIconSrc 
                title="Дополнительно" 
                alt="Кнопка открытия меню дополнительных действий с чатом." 
            }}
        {{/ DialogHeader }}
        {{#> DialogMain }}
            {{#each (chatPageDialogDataSource)}}
                {{> ChatDialogMessage }}
            {{/each}}
        {{/ DialogMain }}
        {{#> DialogFooter }}
            {{> Button 
                img=attachmentButtonIconSrc 
                title="Прикрепить файл" 
                alt="Кнопка прикрепления файла для отправки в чат." 
            }}
            {{> ChatDialogMessageInput }}
            {{> Button 
                class="button_color_blue button_circle" 
                img=sendButtonIconSrc 
                title="Отправить" 
                alt="Кнопка отправки сообщения в чат." 
            }}
        {{/ DialogFooter }}
    {{/ ChatDialog }}
</div>
{{/chatImages}}
