{{#chatImages}}
<div class="chat-page">
    {{#> ChatList }}
        {{> ChatListAccountLink }}
        {{> ChatListHeader }}
        <ul>
            {{#each (chatPageListDataSource)}}
                {{> ChatListItem }}
            {{/each}}
        </ul>
    {{/ ChatList }}
    {{#> ChatDialog }}
        {{#> DialogHeader }}
            {{> Avatar }}
            <div class="chat-user">Вадим</div>
            {{> Button img=additionalButtonIconSrc title="Дополнительно" }}
        {{/ DialogHeader }}
        {{#> DialogMain }}
            {{#each (chatPageDialogDataSource)}}
                {{> ChatDialogMessage }}
            {{/each}}
        {{/ DialogMain }}
        {{#> DialogFooter }}
            {{> Button img=attachmentButtonIconSrc title="Прикрепить файл" }}
            {{> ChatDialogMessageInput }}
            {{> Button class="button_color_blue button_circle" img=sendButtonIconSrc title="Отправить" }}
        {{/ DialogFooter }}
    {{/ ChatDialog }}
</div>
{{/chatImages}}
