.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;

    :first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .page__title {
            font-size: 40px;
        }

        .page__description {
            font-size: 20px;
        }

        .link {
            font-size: 16px;
        }
    }
}
